<!-- Login -->
<div *ngIf="pour === 'nickname'">
    <nav class="navbar navbar-expand-lg">

        <!-- FlaskAled -->
        <a class="navbar-brand" routerLink=""> FlaskAled </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Rien -->
        <div class="collapse navbar-collapse"></div>

        <!-- S'inscrire -->
        <button mat-button class="btnDeconnexion" routerLink="/register">
            S'inscrire
        </button>

    </nav>
</div>


<!-- --------------------------------------------------------------------------------------------------------- -->


<!-- Register -->
<div *ngIf="pour === 'register'">
    <nav class="navbar navbar-expand-lg">

        <!-- FlaskAled -->
        <a class="navbar-brand" routerLink=""> FlaskAled </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Rien -->
        <div class="collapse navbar-collapse"></div>

    </nav>
</div>


<!-- --------------------------------------------------------------------------------------------------------- -->


<!-- User -->
<div *ngIf="pour === 'user'">
    <nav class="navbar navbar-expand-lg">

        <!-- FlaskAled -->
        <a class="navbar-brand" routerLink="/user"> FlaskAled </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- [userList] [myProfil] -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active monLi">
                    <a class="nav-link" routerLink="/user/registry">Annuaire</a>
                </li>
                <li class="nav-item active monLi">
                    <a class="nav-link" routerLink="/user/myProfil">Mon profil</a>
                </li>
            </ul>
        </div>

        <!-- Deconnexion -->
        <button mat-button class="btnDeconnexion" (click)="onDeconnexion()" routerLink="/">
            Deconnexion
        </button>

    </nav>
</div>


<!-- --------------------------------------------------------------------------------------------------------- -->


<!-- Admin -->
<div *ngIf="pour === 'admin'">
    <nav class="navbar navbar-expand-lg">

        <!-- FlaskAled -->
        <a class="navbar-brand" routerLink="/admin/userList"> FlaskAled </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- [userList] [myProfil] -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active monLi">
                    <a class="nav-link" routerLink="/admin/userList">Liste des utillisateurs</a>
                </li>
                <li class="nav-item active monLi">
                    <a class="nav-link" routerLink="/admin/myProfil">Mon profil</a>
                </li>
            </ul>
        </div>

        <!-- Deconnexion -->
        <button mat-button class="btnDeconnexion" (click)="onDeconnexion()" routerLink="/">
            Deconnexion
        </button>

    </nav>
</div>
