.myContainer {
  text-align: center;
}

::ng-deep .mat-radio-inner-circle {
  color: black !important;
  background-color: black !important;
}

::ng-deep .mat-radio-outer-circle{
  color: black !important;
  border: solid 1px gray !important;
}
